:root {
    --primary: rgb(0, 4, 7);
    --secondary: rgb(255, 255, 255);
    --font: rgb(255, 255, 255);
    --accent: rgb(0, 153, 255);
    overflow-x: hidden;
}

@font-face {
    font-family: "font";
    src: url("../fonts/font.otf");
}

body {
    background: linear-gradient(-45deg, #529bee, #0062ff, #00bbff, #00eeff);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

#iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 98vw;
    height: 94vh;
    border: none;
    border-radius: 4vh;
}