:root {
    --primary: #0a1520;
    --secondary: rgb(255, 255, 255);
    --font: rgb(255, 255, 255);
    --accent: rgb(0, 153, 255);
    overflow-x: hidden;
}

@font-face {
    font-family: "font";
    /*a name to be used later*/
    src: url("../fonts/font.otf");
    /*URL to font*/
}

body {
    background-color: var(--primary);
    color: var(--font);
    font-family: 'font';
}

.stars {
    position: fixed;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -1;
}

.star {
    position: absolute;
    width: 0.29vh;
    height: .29vh;
    background: white;
    border-radius: 50%;
    animation: twinkle 4.5s ease-in-out infinite;
    opacity: 0;
    transform: scale(0);
}



@keyframes twinkle {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    50% {
        opacity: 0.8;
        transform: scale(1);
    }

    100% {
        opacity: 0;
        transform: scale(0);
    }
}

.container {
    display: flex;
    align-items: center;
    font-size: 36px;
    font-weight: bold;
    line-height: 1.2;
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    font-size: 8.5vh;
    font-family: 'font';
}

.static-text {
    width: max-content;
    margin-right: 0.6vw;
    line-height: .72vh;
    /* Match the height of words container */
}

.words-container {
    position: relative;
    height: 11.52vh;
    overflow: hidden;
    width: 27.3vw;
    display: inline-flex;
    align-items: center;
}

.word {
    margin-left: 0.4vw;
    position: absolute;
    color: var(--accent);
    /*text-shadow: 0 0 .72vh var(--accent);*/
    opacity: 0;
    transform: translateY(7.76vh);
    transition: transform 0.5s ease, opacity 0.5s ease;
    text-align: left;
    width: 100%;
    line-height: .72vh;
    /* Match the height of static text */
}

.word.active {
    opacity: 1;
    transform: translateY(0);
}

.word.previous {
    opacity: 0;
    transform: translateY(-5.76vh);
}

#iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 90%;
    border: none;
}

.btn {
    font-family: 'font';
    text-transform: uppercase;
    font-size: 2vh;
}

.btn:hover .btn-slide-show-text1 {
    margin-left: 4.6vw;
}

.btn-down {
    border: none;
    outline: none;
    background-color: var(--secondary);
    text-align: center;
    display: inline-block;
    width: 17.5vw;
    height: 8.4vh;
    margin: 1.4vw;
    cursor: pointer;
    overflow: hidden;
    transition: color 0.5s;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100vh;
    box-shadow: 0 0 2.88vh var(--accent);
}

.btn-down::before {
    content: "";
    position: absolute;
    z-index: -1;
    height: 28.8vh;
    width: 21vw;
    border-radius: 50%;
    bottom: 100%;
    left: -2.1vw;
    transition: 0.7s;
}

.btn-down:hover {
    color: rgb(255, 255, 255);
}

.btn-down:hover::before {
    bottom: -7.2vh;
}

.btn-down--orange {
    color: var(--accent);
    border: 0vh solid var(--accent);
}

.btn-down--orange::before {
    background: var(--accent);
}